<div class="auth-form-container">
  <%= react_component('EditForm', props: {url: registration_path(resource_name),
                                                  csrfToken: csrf_token,
                                                  avatarUrl: current_user.image},
                                          html_options: {class: 'auth-form'}) %>
</div>