<div class="auth-form-container">
  <h1>Sign up</h1>

  <%= react_component('RegistrationForm', props: {url: registration_path(resource_name),
                                                  csrfToken: csrf_token,
                                                  signinPath: new_user_session_path(resource_name)},
                                          html_options: {class: 'auth-form'}) %>
</div>