<h2>Sign up</h2>

<%= react_component('RegistrationForm', props: {url: registration_path(resource_name), csrfToken: csrf_token}, html_options: {class: 'form'}) %>

<%= render "devise/shared/links" %>
