<div class="auth-container">
  <span>Sign in with</span>
  <div class="auth-button-container">
    <a class="btn-auth-facebook" href=<%=user_facebook_omniauth_authorize_path%>>
      <i class="fa fa-facebook-f"></i> Facebook
    </a>

    <a class="btn-auth-google" href=<%=user_google_oauth2_omniauth_authorize_path%>>
      <i class="fa fa-google"></i> Google
    </a>
  </div>
</div>