body.direct-message {
  height: 100vh;
  overflow: hidden;

  .root-container,
  .root-container > div,
  .root-container > div .app-container,
  .root-container > div .app-container > div,
  .root-container > div .app-container .row,
  .root-container > div .tab-pane,
  .root-container > div .contact-list {
    height: 100%;
  }
  .root-container > div .app-container .row {
    margin: 0;
  }

  .root-container > div .content-group {
    height: calc(100% - 6rem);
  }

  .root-container > div .list .content-group {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(56,56,56,0.2);
  }

  .root-container > div .app-container .row > div {
    padding: 0;
  }

  .root-container > div .app-container .row {
    > div + div {
      padding-left: 6px;
    }
  }
}

body.direct-message .title-container {
  height: 5.625rem;
  box-shadow: 0 2px 5px 0 rgba(56,56,56,0.2);
  background-color: #fff;
  margin-bottom: 6px;

  ul, .profile-container {
    @include flexbox();
    @include justify-content(space-evenly);
    @include align-items(center);

    height: 100%;
  }

  .profile-container {
    @include justify-content(flex-start);

    padding: 0 30px;
  }
}

body.direct-message .title-container {
  a {
    font-size: $font-size-h3;
    font-weight: 800;
    line-height: 28px;
    color: map-get($brand-gray, 'dark');
  }
}

body.direct-message .title-container .nav {
  a {
    color: map-get($brand-gray, 'light');
  }

  a.active {
    color: map-get($brand-gray, 'dark');
  }
}

body.direct-message .chat-container {
  height: 100%;
  width: 100%;
}

body.direct-message .chat-container .content-group .comment-field-container {
  @include flexbox();

  position: fixed;
  bottom: 0;

  min-height: 10.75rem;

  .upload-container {
    margin-right: 20px;
    position: relative;
    cursor: pointer;
  }

  .textfield-container {
    width: 100%;
  }
}

body.direct-message .chat-container .content-group .message-container {
  height: calc(100vh - 175px - 85px - 55px);
  padding: 10px;
  overflow: auto;

  .message-group {
    @include flexbox();

    margin-bottom: 20px;

    .message {
      background-color: #FFF6E5;
      padding: 5px 15px;
      border-radius: 15px 15px 15px 0;
      box-shadow: 2px 0 5px 0 rgba(56,56,56,0.2);
    }
  }

  .message-group.mine {
    @include justify-content(flex-end);

    .message {
      border-radius: 15px 15px 0 15px;
    }
  }

  .modal-header {
    background-color: black;
  }

  .modal-body {
    background-color: black;
  }

  .modal-content {
    height: 90vh;
}

  .close {
    @include justify-content(flex-start);
    @include align-items(flex-start);
    color: white;
  }
  
  .container-fluid {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    height: 80vh;
  }
}

body.direct-message div.flex-box {
  @include flexbox();
}

body.direct-message .room-placeholder {
  display: inline-block;
  margin: auto;
  color: map-get($brand-gray, 'light');
}

body.direct-message .content-group .tab-pane {
  display: none;

  &.active {
    display: block;
  }
}
