body.direct-message {
  height: 100vh;
  overflow: hidden;

  .root-container,
  .root-container > div,
  .root-container > div .app-container,
  .root-container > div .app-container > div,
  .root-container > div .app-container .row,
  .root-container > div .tab-pane,
  .root-container > div .contact-list {
    height: 100%;
  }
  .root-container > div .app-container .row {
    margin: 0;
  }

  .root-container > div .content-group {
    height: calc(100% - 6rem);
  }

  .root-container > div .list .content-group {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(56,56,56,0.2);
  }

  .root-container > div .app-container .row > div {
    padding: 0;
  }

  .root-container > div .app-container .row {
    > div + div {
      padding-left: 6px;
    }
  }
}

body.direct-message .title-container {
  height: 5.625rem;
  box-shadow: 0 2px 5px 0 rgba(56,56,56,0.2);
  background-color: #fff;
  margin-bottom: 6px;

  ul, .profile-container {
    @include flexbox();
    @include justify-content(space-evenly);
    @include align-items(center);

    height: 100%;
  }

  .profile-container {
    @include justify-content(flex-start);

    padding: 0 30px;
  }
}

body.direct-message .title-container {
  a {
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;
    color: map-get($brand-gray, 'dark');
  }
}

body.direct-message .title-container .nav {
  a {
    color: map-get($brand-gray, 'light');
  }

  a.active {
    color: map-get($brand-gray, 'dark');
  }
}

body.direct-message .chat-container {
  height: 100%;
  width: 100%;
}

body.direct-message .chat-container .content-group .comment-field-container {
  position: fixed;
  background-color: #fff;
  bottom: 0;
  height: 220px;
  border: none;
  box-shadow: 2px 0 5px 0 rgba(56,56,56,0.2);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;

  textarea {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 6.25rem;
    background-color: map-get($brand-gray, "lightest");
    border: none;
    outline: none
  }
}

body.direct-message .chat-container .content-group .comment-field-container .timing-container {
  display: inline-flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  label {
    padding-right: 2.125rem;
    color: map-get($brand-orange, "primary");
  }
  .dropdown {
    width: auto;
    padding-right: 0.625rem;
    input {
      width: 5rem;
      height: 1.875rem;
      border-radius: 1rem;
      border-color: map-get($brand-orange, "light");
    }
    .long-input {
      width: 10rem;
    }
  }

  .react-datepicker-wrapper {
    padding-right: 0.625;
    text-align: center;
    display: inline-block;
    input {
      padding: 0;
      text-align: center;
      font-size: 12px;
      width: 10rem;
      height: 1.875rem;
      border-radius: 1rem;
      border-color: map-get($brand-orange, "light");
    }
  }

  .small-field {
    display: inline-block;
    padding-right: 10px;
    .react-datepicker-wrapper {
      input {
        width: 5rem;
      }
    }
    ul {
      padding: 0;
    }
  }

  .large-field {
    display: inline-block;
  }
}

body.direct-message .chat-container .content-group .comment-field-container .upload-container {
  display: inline-flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  .align-right {
      text-align: right;
  }

  i {
    color: map-get($brand-orange, "light");
    padding-right: 1.25rem;
  }

  button {
    width: 5rem;
    height: 1.875rem;
    color: white;
    font-weight: bolder;
    background-color: map-get($brand-orange, "primary");
    border-radius: 1rem;
    border: none;
  }
}

body.direct-message .chat-container .content-group .message-container {
  height: calc(100% - 116px);
  padding: 10px;
  overflow: auto;

  .message-group {
    @include flexbox();

    margin-bottom: 20px;

    .message {
      background-color: #FFF6E5;
      padding: 5px 15px;
      border-radius: 15px 15px 15px 0;
      box-shadow: 2px 0 5px 0 rgba(56,56,56,0.2);
    }
  }

  .message-group.mine {
    @include justify-content(flex-end);

    .message {
      border-radius: 15px 15px 0 15px;
    }
  }
}

body.direct-message div.flex-box {
  @include flexbox();
}

body.direct-message .room-placeholder {
  display: inline-block;
  margin: auto;
  color: map-get($brand-gray, 'light');
}
