body.profile .profile-container {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 8rem;
}

.sameline {
  display: inline-block;
}

#upload-icon {
  background-color: white;
  border-color: #ced4da #ced4da #ced4da transparent;
  border-radius: 0rem 0.625rem 0.625rem 0rem;
  z-index: 0;
}

.profile-container .tab-pane {
  display: none;

  &.active {
    display: block;
  }
}

body.profile .profile-container {
  .nav {
    a {
      font-size: $font-size-h2;
      font-weight: 800;
      line-height: 28px;
      color: map-get($brand-gray, 'dark');
    }
  }

  h3 {
    font-weight: 500;
  }

  .card-header {
    background-color: white;
    border: 0px;
  }

  .card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .topic-box-color {
    color: map-get($brand-orange, 'primary');
  }

  .form-control {
    border-radius: 0.625rem 0rem 0rem 0.625rem;
  }

  .font-status-size {
    font-size: $font-size-h5;
    color: #454550;
    line-height: 18px;
  }

  .capsule-box {
    background-color: #fff;
    border: none;
    box-shadow: 2px 0 5px 0 rgba(56,56,56,0.2);
    outline: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 0.4rem;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}

body.profile .profile-container .nav {
  margin-bottom: 1rem;
  .space-toggle {
    margin-left: 2rem;
  }

  a {
    color: map-get($brand-gray, 'light');
  }

  a.active {
    color: map-get($brand-gray, 'dark');
  }
}
