body.profile .profile-container {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 8rem;
}

.sameline {
  display: inline-block;
}

#upload-icon {
  background-color: white;
  border-color: #ced4da #ced4da #ced4da transparent;
}

.profile-container .tab-pane {
  display: none;

  &.active {
    display: block;
  }
}

body.profile .profile-container {
  a {
    font-size: $font-size-h2;
    font-weight: 800;
    line-height: 28px;
    color: map-get($brand-gray, 'dark');
  }
}

body.profile .profile-container .nav {
  .space-toggle {
    margin-left: 2rem;
  }

  a {
    color: map-get($brand-gray, 'light');
  }

  a.active {
    color: map-get($brand-gray, 'dark');
  }
}