body.profile .profile-detail-container {
  padding: 0 8.75rem;
}
body.profile .profile-container {
  margin: 8rem 17rem 0 17rem;

  #timeOverModal {
    top: 50%;
    transform: translate(0, -70%);
  }
}

.sameline {
  display: inline-block;
}

#upload-icon {
  background-color: white;
  border-color: #ced4da #ced4da #ced4da transparent;
  border-radius: 0rem 0.625rem 0.625rem 0rem;
  z-index: 0;
}

.profile-container .tab-pane {
  display: none;

  &.active {
    display: block;
  }
}

body.profile .profile-container {
  .nav {
    a {
      font-size: $font-size-h2;
      font-weight: 800;
      line-height: 28px;
      color: map-get($brand-gray, 'dark');
    }
  }

  .card-header {
    background-color: white;
    border: 0px;
  }

  .card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .form-control {
    border-radius: 0.625rem 0rem 0rem 0.625rem;
  }
}

body.profile .profile-container .nav {
  margin-bottom: 1rem;
  .space-toggle {
    margin-left: 2rem;
  }

  a {
    color: map-get($brand-gray, 'light');
  }

  a.active {
    color: map-get($brand-gray, 'dark');
  }
}
