<div class="auth-form-container">
  <h1>Reset Password</h1>
  <%= react_component('ResetPasswordForm', props: {url: password_path(resource_name),
                                            csrfToken: csrf_token,
                                            resetPasswordToken: params[:reset_password_token]}, html_options: {class: 'auth-form'}) %>
</div>
