<div class="auth-form-container">
  <h1>Forgot Password</h1>

  <%= react_component('ForgotPasswordForm', props: {url: password_path(resource_name),
                                            csrfToken: csrf_token}, html_options: {class: 'auth-form'}) %>

</div>
