.img.img-border {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: map-get($brand-gray, 'light');
  background-repeat: no-repeat;
  background-size: cover;

  &.add-icon:before {
      content: '+';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -55%);
      font-size: $font-size-h1;
      color: map-get($brand-gray, 'light');
  }
}