@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');
body {
    font-family: 'Nunito', sans-serif;
    background-color: map-get($brand-gray, 'lightest');
}

body .root-container {
  padding-top: 66px;
}

h1,
h2,
h3 {
    font-weight: $font-extra-bold;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

input {
    width: 21.875rem;
    height: 3.125rem;
    padding: 0 1.875rem;
    border-radius: 0.625rem;
    border: 1px map-get($brand-gray, 'light') solid;
}

.input.input-width-max {
  width: 100% !important;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
}

.input:focus,.input:active {
  outline: none !important;
  box-shadow: none;
}

textarea {
  width: 21.875rem;
  padding: 0.75rem 1.875rem;
  border-radius: 0.625rem;
  border: 1px map-get($brand-gray, 'light') solid;
  resize: none;
}

.textarea.textarea-width-max {
  width: 100% !important;
}

.textarea:focus,.textarea:active {
  outline: none !important;
  box-shadow: none;
}
