@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');

body {
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3 {
  font-weight: $font-extra-bold;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}