<% if user_signed_in? %>
    <div class="root-container">
      <!--<%= link_to('Logout', destroy_user_session_path, method: :delete) %>-->
      <%= react_component('App', props: {
          currentUser: current_user,
          csrfToken: csrf_token
      })
      %>
    </div>
<% else %>
  <%= react_component 'LandingPage' %>
<% end %>
