.capsule-box {
  background-color: #fff;
  border: none;
  box-shadow: 2px 0 5px 0 rgba(56,56,56,0.2);
  outline: none;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}