.capsule-box {
  @include flexbox();

  background-color: #fff;
  border: none;
  box-shadow: 2px 0 5px 0 rgba(56,56,56,0.2);
  outline: none;
  margin: 1rem 0;
  border-radius: 0.4rem;
  padding: 0.6rem;

  .avatar-container {
    margin-right: 20px;
  }
}

.capsule-box .capsule-detail-container {
  @include flex-grow(1);

  > h3 {
    color: map-get($brand-orange, 'primary');
  }
}

.capsule-box .capsule-detail-container .header-container {
  @include flexbox();

  div {
    font-size: $font-size-h5;
    line-height: 18px;
  }

  > div {
    @include flexbox();
    @include flex-grow(1);

    div:last-of-type {
      margin-left: 20px;
    }
  }

  .right-section {
    @include justify-content(flex-end);
  }
}