.contact-list {
  padding: 0;
  margin-top: 6px;
  box-shadow: 0 2px 5px 0 rgba(56,56,56,0.2);
}

.contact-list .contact-item {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  .item-group {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
  }
}

.contact-list .contact-item .item-group .profile-container {
  margin-left: 20px;
}

.contact-list li {
  list-style: none;
  display: inline-block;
}