.navbar-container {
  background-color: map-get($brand-orange, 'primary');
  width: 100%;
}

nav {
  color: white;
  margin: auto;
  width: 1110px;
  .center {
    text-align: center;
  }
}

.navbar-nav {
  display: inline-block;
}

.nav-item {
  width: auto;
  display: inline-block;
}

.nav-item + .nav-item {
  margin-left: 2rem;
}

.nav-link {
  border-radius: 0;
  color: #fff;
  a {
    font-size: 1rem;
  }
}

.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar-search {
  height: 50px;
  width: 256px;
}

::placeholder {
  color: map-get($brand-gray, 'light');
  opacity: 1;
}
