.navbar-container {
  background-color: map-get($brand-orange, 'primary');
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  .navbar-brand {
    margin-right: 0;
  }
}

nav {
  color: white;
  margin: auto;
  width: 70rem;
  .center {
    text-align: center;
  }
  .form-input-group {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}

.navbar {
  .navbar-nav {
    display: inline-block;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .nav-item {
    width: auto;
    display: inline-block;
  }

  .nav-item + .nav-item {
    margin-left: 2rem;
  }

  .nav-link {
    border-radius: 0;
    color: #fff;
    a {
      font-size: $font-size-h4;
    }
  }
}

a:hover {
  color: map-get($brand-gray, 'dark');
}

.dropdown-container {
  width: 17.5rem;
  text-align: right;
  .avatar-container {
    span {
      vertical-align: middle;
      padding-right: 1.25rem;
    }
  }
  .dropdown-menu {
    right: 0;
    .hidden-list {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }
}
