// Font weight
$font-regular: 400;
$font-extra-bold: 800;


// Font size
$font-size-h1: 2.5rem; //50
$font-size-h2: 1.25rem; //20
$font-size-h3: 1.125rem; //18
$font-size-h4: 0.875rem; //14
$font-size-h5: 0.75rem; //12

// Colors

$brand-orange: (
  dark: #FFA800,
  primary: #FFA700,
  light: #FFD37F,
  lightest: #FFF6E5
);

$brand-gray: (
  dark: #383838,
  primary: #737373,
  light: #D7D7D7,
  lightest: #FBFBFD
);

$red-google: #EA4335;
$blue-facebook: #3B5998;