// Font weight
$font-regular: 400;
$font-extra-bold: 800;


// Font size
$font-size-h1: 3.125rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.125rem;

// Colors

$brand-orange: (
  dark: #FFA800,
  primary: #FFA700,
  light: #FFD37F,
  lightest: #FFF6E5
);

$brand-gray: (
  dark: #383838,
  primary: #737373,
  light: #D7D7D7,
  lightest: #FBFBFD
);

$red-google: #EA4335;
$blue-facebook: #3B5998;